.speech {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
  }
  
  .direction {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    color: black;
    background-color: lightyellow;
  }
  
  .direction:hover {
    background-color: lightblue;
    color: white;
  }
  
  .name {
    font-weight: bold;
  }
  
  /* Character Styles */
  .YASHA:hover {
    text-shadow:2px 2px 5px black;
  }
  
  .GAEV:hover {
    text-shadow:2px 2px 5px black;
  }
  
  .LUBOV:hover {
    text-shadow:2px 2px 5px black
  }
  
  .LOPAKHIN:hover{
    text-shadow:2px 2px 5px black
  }

  /* Existing styles */

.actors-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.actors-table th,
.actors-table td {
    border: 1px solid #FFC0CB;
    padding: 8px;
    text-align: left;
}

.actors-table th {
    background-color: #008000;
}

.actors-table tbody tr:nth-child(even) {
    background-color: #FFC0CB;
}
.speech:hover {
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.7); /* Purple shadow with blur */
    border: 2px solid #800080; /* Purple border */
}
ul.navbar-horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
ul.navbar-horizontal li {
  float:left;
  color:#000;
  background-color:yellow;
} 
ul.navbar-horizontal a {
  display:block;
  padding:8px
}
ul.navbar-horizontal a:hover {  
  background-color:green;
  color:white;
}
